{% extends 'accepted/base.html' %} {% load static %} {% block content %}

<div class="container">

<h1>About/Kush jemi ne?</h1>

<p>
  Jemi një ekip me një vizion drejt se ardhmes ku shohim se e vetmja zgjidhje
  për një të ardhme më të mirë është diversiteti dhe bashkimi i të gjithëve.
  Misioni ynë është i thjeshtë dhe ende më të thjeshtë e bën webfaqja jonë ku
  ofron shërbime për të gjithë njerëzit me nevoja të veçanta duke i bashkuar
  nëpër evente dhe ngjarje nga më inovativet dhe vendet e restauronte ku kanë
  shërbime të veçanta për ta... Të gjithë se bashku drejt një të ardhme më të
  mirë...
</p>

<a href="mailto:acceptedemailone@gmail.com">
<i class="fas fa-envelope"></i> 
acceptedemailone@gmail.com
</a>

<br>

<a href="https://www.facebook.com/Accepted-106720104235111/">
<i class="fab fa-facebook"></i>   
Accepted
</a>

</div>

{% endblock content %}
